.kaj {
    width:100%;
    height: 800px;
}

.behave {
    background-color:#161414;
    transition: background-color 200ms ease ;
    
}
.last {
    margin-bottom: 0px;
    line-height: 10px;
    color:beige;
}

.play{
    background-color: black;
    align-content: center;
}